@import "./_variables.scss";

@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton-Regular.ttf");
}

.nav-link:hover svg {
  fill: #ff7878;
}
.home {
  font-size: 20px;
}

a {
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

.navbar-toggler div {
  width: 40px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
.nav-link:hover {
  background: #ff7878 !important;
}
.nav-link {
  color: white !important;
  white-space: nowrap;
}

.carousel-control-next,
.carousel-control-prev {
  width: 10% !important;
}

.slick-slide {
  min-height: 200px;
}

.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  // display: inline-block;
  // vertical-align: middle;
  // float: none;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-slider {
  display: flex;
  align-items: center;
}

h1,
h2,
.home,
button {
  font-family: "Anton", sans-serif;
}
.slick-prev {
  left: -18px;
}

.slick-next {
  right: -18px;
}

.react-tooltip-clickable-link {
  pointer-events: auto;
}

@media screen and (max-width: 576px) {
  .slick-prev {
    left: -14px;
  }

  .slick-next {
    right: -14px;
  }
}
