@import "../../styles/_variables.scss";

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/IMG_3336.jpeg");
  /* Set a specific height */
  min-height: 450px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  width: 100%;
  top: 0;
  z-index: 2;
}

.navBar {
  min-height: 50px;
}

.personalProjects {
  background: $primary;
}

.heroTextWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bullet-list-text {
  margin-top: 0.2rem;
}

.projectImage {
  width: 100%;
  height: 270px;
}

.social img {
  width: 40px;
}

.buttonDownload {
  border-radius: 2rem;
  height: 40px;
  background: #222222 !important;
  color: white;
  border: 1px solid white;
}

.buttonDownload:hover {
  background: $primary !important;
  color: white !important;
}

body,
.featuredWork {
  background: rgb(34, 34, 34) !important;
}

#projectsCarousel {
  min-height: 400px;
}

.quoteCarousel p {
  max-width: 700px;
  font-size: 1.4em;
}
.quoteAuthor {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.hero h2 {
  font-size: 1.5rem;
}

.hero,
.heroText {
  opacity: 0;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1; /* Firefox */
  -webkit-animation: fadeIn ease-in 1; /* Safari and Chrome */
  -o-animation: fadeIn ease-in 1; /* Opera */
  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.socialIcon {
  width: 40px;
  height: 40px;
}
.socialIcon:hover {
  fill: $primary;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.heroText.fadeInHeader {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.heroText.fadeInOne {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.heroText.fadeInTwo {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.heroText.fadeInThree {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.heroText.fadeInFour {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.bulletPointList {
  background: #fff9e9;
  border-top: 6px solid #ffd220;
}

@media screen and (max-width: 992px) {
  .navBar {
    min-height: 80px;
  }
  .hero {
    background-size: auto;
  }
}

@media screen and (max-width: 992px) {
  .navBar {
    min-height: 80px;
  }
}
