@import "../../styles/_variables.scss";
.navBar {
  background: $primary;
  height: 50px;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.header {
  top: 0;
  z-index: 1;
}

.activeLink:after {
  content: "";
  border: 2px solid #ff7878;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.logo {
  border-radius: 3.25rem;
  fill: $primary;
  height: 35px;
  width: 35px;
}
