@import "../../styles/_variables.scss";
.navBar {
  background: $primary;
  height: 50px;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.header {
  top: 0;
  z-index: 1;
}

.activeLink {
  border-bottom: 4px solid #ff7878;
  margin-bottom: -4px;
}

.logo {
  height: 35px;
}
